@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .mobile-nav.router-link-active {
    @apply after:w-1 after:h-full after:bg-white after:mt-[2px]
    after:absolute after:right-0;
  }
  .nav.router-link-active {
    @apply after:w-full after:h-[3px] after:bg-white after:absolute
    after:bottom-0 text-white;
  }
  .sub-nav.router-link-active {
    @apply after:bg-white after:absolute after:h-[10px] after:w-[10px]
    after:top-1 after:left-1 after:rounded-full;
  }
  @supports (backdrop-filter: blur(1px)) {
    .backdrop-filter {
      @apply backdrop-blur-[81.5485px];
    }
  }
  @supports not (backdrop-filter: blur(1px)) {
    .backdrop-filter {
      @apply bg-gradient-to-b from-gray-900 to-gray-800 opacity-[.98]
      !important;
    }
  }
}
